---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Subscription from "@/components/subscription/Subscription";
---

<Layout title="Welcome to CoffeeRoasters">
  <main class="min-h-screen text-justify">
    <Hero
      heroSectionName="create-a-plan-hero"
      title="Create a plan"
      desc="Build a subscription plan that best fits your needs. We offer an assortment of the best artisan coffees from around the globe delivered fresh to your door."
      image="bg-hero-image-plan-mobile tablet:bg-hero-image-plan-tablet desktop:bg-hero-image-plan-desktop"
    />
    <Subscription client:load />
  </main>
</Layout>
