---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import HowItWorks from "../components/how-it-works/HowItWorks.astro";
---

<Layout title="Welcome to CoffeeRoasters">
  <main class="min-h-screen text-justify">
    <Hero
      heroSectionName="homepage-hero"
      title="Great coffee made simple."
      desc="Start your mornings with the world’s best coffees. Try our expertly curated artisan coffees from our best roasters delivered directly to your door, at your schedule."
      image="bg-hero-image-home-mobile tablet:bg-hero-image-home-tablet desktop:bg-hero-image-home-desktop"
      btnVisibility="block"
      variableHeight="h-[32rem] desktop:h-[37.5rem]"
    />
    <section class="my-36"></section>
    <section class="mb-36">
      <h2
        class="mb-20 text-center font-serif text-2xl text-grey tablet:text-left"
      >
        How it works
      </h2>
      <HowItWorks />
      <a
        href="/create-plan"
        class="mx-auto mt-20 block w-56 rounded-md bg-dark-cyan px-8 py-4 font-serif text-lg text-light-cream tablet:mx-0"
        aria-label="call to action button"
      >
        Create Your Plan
      </a>
    </section>
  </main>
</Layout>
